<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="Company" value="dev" />
    <add key="DefaultCompany" value="dev" />
    <add key="DefaultDivision" value="hsp" />
    <add key="RuanStratixUser" value="RuanDev" />
    <add key="RuanMscStation" value="HSP2245" />
    <add key="RuanStratixUPW" value="RuanStratixWEB123" />
    <add key="LogFileLocation" value="C:\inetpub\wwwroot\RuanDev\log.txt" />
    <add key="ShouldLogXML" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DefaultCompany" value="qa"/>
    <add key="RuanApiUri" value="http://apiqa.ruan.com"/>
    <add key="DefaultDivision" value="hsp"/>
    <add key="StratixDsn" value= "DSN=PostgreSQL35W"/>
  </appSettings>
  <connectionStrings configSource="connections.config" />
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Service.BasicHttp.BindingConfig" maxReceivedMessageSize="52428800" maxBufferSize="52428800" maxBufferPoolSize="52428800">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="StratixRuanWebIntegration.RuanStratixService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Service.BasicHttp.BindingConfig" name="IRuanStratixService.Http" contract="StratixRuanBusinessLogic.IRuanStratixService" />
      </service>
    </services>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
