<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement"/>
    <section name="UI" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="Servers" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="Mail" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <add key="ManualActivationUrl" value="https://secure.softwarekey.com/solo/customers/ManualRequest.aspx"/>
    <add key="XmlActivationServiceUrl" value="https://secure.softwarekey.com/solo/webservices/XmlActivationService.asmx"/>
    <add key="XmlLicenseFileServiceUrl" value="https://secure.softwarekey.com/solo/webservices/XmlLicenseFileService.asmx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DefaultCompany" value="qa"/>
    <add key="DefaultDivision" value="hsp"/>
  </appSettings>

  <UI>
    <add key="FullUI" value="c:\SharedApps\SharedApps.FullUI\bin\debug\SharedApps.FullUI.dll"/>
    <add key="ReportUI" value="c:\SharedApps\SharedApps.ReportUI\bin\debug\SharedApps.ReportUI.dll"/>
    <add key="LicLocation" value="c:\SharedApps\SharedApps\"/>
  </UI>

  <connectionStrings configSource="connections.config"/>

  <Servers>
    <add key="DataLayerURL" value="tcp://localhost:56220/SQLDataLayer"/>
    <add key="DataLayerBackupURL" value="tcp://localhost:56223/SQLDataLayer"/>
    <add key="AppServerURL" value="tcp://localhost:56221/AppServer"/>
    <add key="MessageServerURL" value="tcp://localhost:56222/MessageServer"/>
    <add key="EDocServerURL" value="c:\\Program Files\\eDoc\\"/>
  </Servers>

  <Mail>
    <add key="operatorMail" value="chad@sharedlogic.us"/>
    <add key="mailServer" value="llcserver3.LLC.LOCAL"/>
  </Mail>

  <!--
	<exceptionManagement>
		<publisher mode="on" assembly="SharedApps.ExceptionPublisher"
				type="CustomExceptionPublishers.CustomPublisher"
				fileName="c:\CustomPub.log"
				operatorMail="chad@sharedlogic.us"
				mailServer="llcserver3.LLC.LOCAL">
		</publisher>
	</exceptionManagement>
  -->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
