<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="ManualActivationUrl" value="https://secure.softwarekey.com/solo/customers/ManualRequest.aspx"/>
    <add key="XmlActivationServiceUrl" value="https://secure.softwarekey.com/solo/webservices/XmlActivationService.asmx"/>
    <add key="XmlLicenseFileServiceUrl" value="https://secure.softwarekey.com/solo/webservices/XmlLicenseFileService.asmx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DefaultCompany" value="qa"/>
    <add key="RuanApiUri" value="https://apiqagateway.ruan.com"/>
    <add key="DefaultDivision" value="hsp"/>
    <add key="StratixDsn" value= "DSN=PostgreSQL30"/>
  </appSettings>
  <connectionStrings configSource="connections.config"/>
</configuration>