<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="ManualActivationUrl" value="https://secure.softwarekey.com/solo/customers/ManualRequest.aspx"/>
    <add key="XmlActivationServiceUrl" value="https://secure.softwarekey.com/solo/webservices/XmlActivationService.asmx"/>
    <add key="XmlLicenseFileServiceUrl" value="https://secure.softwarekey.com/solo/webservices/XmlLicenseFileService.asmx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DefaultCompany" value="qa"/>
    <add key="RuanApiUri" value="https://apiqagateway.ruan.com"/>
    <add key="DefaultDivision" value="hsp"/>
    <add key="StratixDsn" value="DSN=PostgreSQL35W"/>
    <add key="QueueProcessTimeInterval" value="10000"/>
    <add key="QueueProcess" value="OrderRelease"/>
    <!--<add key="queueProcess" value= "TAtoStratix"/>-->
    <add key="StratixUser" value="smills"/>
    <add key="StratixPassword" value="password"/>
    <add key="StratixEnvironmentName" value="tsthsp"/>
    <add key="StratixEnvironmentClass" value="TST"/>
  </appSettings>
  <connectionStrings configSource="connections.config"/>
</configuration>
